name: CI
on:
  - push
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  standardrb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: '3.2.2'
      - name: Check standardrb
        run: bundle exec standardrb --format progress
  bundle-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: '3.2.2'
      - name: Check bundle audit
        run: bundle exec bundle-audit check --update
  specs:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: postgres
        ports:
        - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: '3.2.2'
      - uses: browser-actions/setup-chrome@v1
      - run: chrome --version
      - name: Setup DB, Run tests
        env:
          DATABASE_URL: postgres://postgres:password@localhost/rubycats_test?max_connections=5
          RAILS_ENV: test
        run: |
          bundle exec rake db:create db:migrate
          bundle exec rspec --format progress
